.draggable-box {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #3498db;
  color: #fff;
  cursor: move;
}

.dragging {
  opacity: 0.8;
}


.drop-zone {
  padding: 1em;
  background-color: #c1e0ff;
  border: solid 1px #3498db;
}
