
<div appDraggableArea #draggableAreaRef>
  <!-- Your draggable area content -->

  <div appDraggable [draggableArea]="draggableAreaRef" class="draggable-box">
    Drag me!
  </div>

</div>
<div>
  <app-dnd-sortable-list [items]="items"></app-dnd-sortable-list>

</div>
<div class="drop-zone" appDropTarget (dropped)="onDropped($event)">
  Drop zone
</div>
<div appDraggableItem dragData="XYZ123">
  This is supposed to be draggable only by handle: <span class="handle" appDraggableItemHandle>...HANDLE...</span>
</div>
