.calendar {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Set a maximum width for the calendar */
}

.navigation {
  background-color: #dedede;
  display: flex;
  justify-content: space-between;

  .pn {
    padding: 10px;
    cursor: pointer;
  }

  .month-year {
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
}



.days-header {
  display: flex;
  background-color: #333333;
  color: white;
  font-weight: bold;
}

.week {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.day {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #e6e6e6;
  }

  &.selected {
    background-color: #333333;
    color: white;

    &:hover {
      background-color: #555555;
    }
  }

  &.today {
    background-color: #cecece;

    &.selected {
      background-color: #333333;
      color: white;
    }
  }

  &.previous-or-next-month {
    background-color: #efefef;
  }
}

