<h1>Inputs Test</h1>
<app-custom-input [(value)]="valueFromCustomInput"></app-custom-input>
<div>
  test binding {{ valueFromCustomInput }}
</div>
<hr/>
<div [formGroup]="dataFormGroup">
  <div>
    <label>Message</label>
    <app-custom-input formControlName="message" [style.--bg-c]='"#ff0000"'></app-custom-input>
  </div>
  <div>
    <label>Posted Date</label>
    <app-date-picker formControlName="postedDate"></app-date-picker>
  </div>
  <div>
    {{ dataFormGroup.value | json }}
  </div>
</div>
<hr/>
<app-calendar></app-calendar>
<hr/>
<app-date-picker [(date)]="selectedDate"></app-date-picker> {{ selectedDate }}


