
@for(item of items; track $index) {
  <app-item-insertion-point
    (dropped)="createDroppedItemHandler($index)($event)"
    [canDropCallback]="createOnCheckCanDrop($index)">
  </app-item-insertion-point>
  <div appDraggableItem [dragData]="item" [dragIndex]="$index" class="draggable-item">
    <ng-container *ngTemplateOutlet="itemTemplate ?? defaultItemTemplate; context: { $implicit: item }"></ng-container>
  </div>
}
<app-item-insertion-point
    (dropped)="createDroppedItemHandler(this.items.length)($event)"
    [canDropCallback]="createOnCheckCanDrop(this.items.length)">
</app-item-insertion-point>



<ng-template let-item #defaultItemTemplate>
  <div class="draggable-item">
    {{ item | json }}
  </div>
</ng-template>
