<p>home works!</p>
<div appClickOutside (clickedOutside)="onClickedOutside()" id="testing-div" appTooltip="This is the tooltip text I want">
  Testing the click
</div>
<div appOverlayable [show-overlay]="showOverlay" [overlay-template]="customOverlayTemplate" style="padding: 1em;">
  Overlayable test<br/>
  Overlayable test<br/>
</div>
<ng-template #customOverlayTemplate>
  <div>custom overlay template</div>
</ng-template>
<button type="button" (click)="showOverlay = !showOverlay">Overlay toggle</button>
<button type="button" (click)="openPopup()">Open popup</button>
<button type="button" (click)="closePopup()">Close popup</button>
<button type="button" (click)="openDialog()">Open dialog</button>
<br/>
<span appContextMenu [items]="contextMenuItems" (itemSelected)="onItemSelected($event)" [style.--selected-color]="'#ccccff'">Click me to toggle on and off</span>
